<form class="{{cssClass}} sheet-cpt" autocomplete="off">
  <div class="sheet-background"></div>
  <div class="sheet-image"></div>
  <div class="sheet-content pa-2{{ternary data.data.itemType '' ' item-selection'}}">
    {{#unless data.data.itemType}}
      <div class="flex-row flex-c" style="height: 100%">
        <div class="flex-col section-cpt pa-4">
          <div class="section-image"></div>
          <div class="section-background"></div>
          <div class="section-content">
            <label class="section-primary-title-cpt col-12">{{localize 'ItemType'}}</label>
            <select class="item-type-select input-cpt col-12 my-2">
              {{#each itemTypeOptions as |itemType itemTypeIndex|}}
                <option value="{{itemTypeIndex}}">{{or itemType (concat '[' (localize 'NoName') ']')}}</option>
              {{/each}}
            </select>
            <button class="btn btn-primary-cpt {{ternary (eq theme.buttonStyle 'square') 'btn-square-cpt ' ''}}item-type-confirm col-12" type="button">{{localize 'Confirm'}}</button>
          </div>
        </div>
      </div>
    {{else}}
      <div class="sheet-body">
         <article class="tab sets active" data-group="primary" data-tab="main">
           <div class="flex-row">
             Content
           </div>
         </article>
      </div>
    {{/unless}}
  </div>
</form>
